<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MIBArchiveExtensionsBlacklist</key>
	<string>pptx,docx,xlsx,numbers,pages,pdf,swf</string>
	<key>MIBCleanPatterns</key>
	<array>
		<dict>
			<key>pattern</key>
			<string>.svn;CVS;.git</string>
		</dict>
		<dict>
			<key>pattern</key>
			<string>*.o</string>
		</dict>
	</array>
	<key>MIBConcurrentOperations</key>
	<integer>4</integer>
	<key>MIBCutOffExtensionFromSaveNames</key>
	<false/>
	<key>MIBCutOffNumbersFromSaveNames</key>
	<false/>
	<key>MIBDebugLevel</key>
	<integer>2</integer>
	<key>MIBDirectExtractByDefault</key>
	<false/>
	<key>MIBExtractPresets</key>
	<array>
		<dict>
			<key>favorite</key>
			<true/>
			<key>folder</key>
			<string>1</string>
			<key>imageTint</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAIMivxc/g5JvDT0Bhg==
			</data>
			<key>isService</key>
			<true/>
			<key>isToolbar</key>
			<true/>
			<key>moveArchiveTo</key>
			<string>4</string>
			<key>name</key>
			<string>展開 &amp; ゴミ箱に捨てる</string>
			<key>openExtracted</key>
			<false/>
			<key>overwriteWithoutWarning</key>
			<false/>
			<key>shortName</key>
			<string>展開&amp;ゴミ箱</string>
		</dict>
		<dict>
			<key>excludePattern</key>
			<dict>
				<key>pattern</key>
				<string>*/.svn;*/CVS;*/.git</string>
				<key>regex</key>
				<false/>
			</dict>
			<key>favorite</key>
			<true/>
			<key>folder</key>
			<string>1</string>
			<key>imageTint</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQCDgP9APQGG
			</data>
			<key>moveArchiveTo</key>
			<string>1</string>
			<key>name</key>
			<string>クリーニングして展開</string>
			<key>openExtracted</key>
			<false/>
			<key>shortName</key>
			<string>展開／クリーン</string>
		</dict>
		<dict>
			<key>favorite</key>
			<true/>
			<key>folder</key>
			<string>~/Applications</string>
			<key>moveArchiveTo</key>
			<string>1</string>
			<key>name</key>
			<string>ユーザー向けにアプリをインストールして、Finder で表示</string>
			<key>openExtracted</key>
			<false/>
			<key>reveal</key>
			<true/>
			<key>shortName</key>
			<string>アプリをインストール</string>
		</dict>
	</array>
	<key>MIBPackagesExpandable</key>
	<false/>
	<key>MIBPlaces</key>
	<array>
		<dict>
			<key>extract</key>
			<true/>
			<key>finder</key>
			<true/>
			<key>folder</key>
			<string>~/Documents</string>
			<key>move</key>
			<true/>
			<key>sidebar</key>
			<true/>
		</dict>
		<dict>
			<key>extract</key>
			<true/>
			<key>finder</key>
			<true/>
			<key>folder</key>
			<string>~/Desktop</string>
			<key>move</key>
			<true/>
			<key>sidebar</key>
			<true/>
		</dict>
		<dict>
			<key>extract</key>
			<true/>
			<key>finder</key>
			<true/>
			<key>folder</key>
			<string>~/Downloads</string>
			<key>move</key>
			<true/>
			<key>sidebar</key>
			<true/>
		</dict>
	</array>
	<key>MIBPostNotifications</key>
	<true/>
	<key>MIBRar</key>
	<string></string>
	<key>MIBRegCode</key>
	<string></string>
	<key>MIBSavePresets</key>
	<array>
		<dict>
			<key>additionalParams</key>
			<string></string>
			<key>cleanPattern</key>
			<string>*/.svn;*/CVS;*/.git</string>
			<key>compression</key>
			<integer>2</integer>
			<key>encryption</key>
			<integer>0</integer>
			<key>favorite</key>
			<true/>
			<key>folder</key>
			<string>1</string>
			<key>format</key>
			<integer>0</integer>
			<key>imageTint</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAIMivxc/g5JvDT0Bhg==
			</data>
			<key>isService</key>
			<true/>
			<key>isToolbar</key>
			<true/>
			<key>name</key>
			<string>クリーニングして圧縮</string>
			<key>shortName</key>
			<string>圧縮／クリーン</string>
		</dict>
		<dict>
			<key>compression</key>
			<integer>2</integer>
			<key>favorite</key>
			<true/>
			<key>folder</key>
			<string>2</string>
			<key>format</key>
			<integer>0</integer>
			<key>imageTint</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgztnMD2DeggmPoP62X0/AYY=
			</data>
			<key>mode</key>
			<true/>
			<key>name</key>
			<string>PC 向けに保存</string>
			<key>shortName</key>
			<string>PC 向けに保存</string>
		</dict>
		<dict>
			<key>additionalParams</key>
			<string>-ms=100f10m</string>
			<key>compression</key>
			<integer>2</integer>
			<key>encryption</key>
			<integer>2</integer>
			<key>favorite</key>
			<true/>
			<key>folder</key>
			<string>~/Desktop</string>
			<key>format</key>
			<integer>4</integer>
			<key>imageTint</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAIMy5g4/g9r4OT8Bhg==
			</data>
			<key>name</key>
			<string>単一の 7z で保存、パスワードを確認</string>
			<key>password</key>
			<string></string>
			<key>shortName</key>
			<string>単一の 7z</string>
			<key>volumeSize</key>
			<string></string>
			<key>volumeUnit</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>compression</key>
			<integer>4</integer>
			<key>encryption</key>
			<integer>0</integer>
			<key>favorite</key>
			<true/>
			<key>folder</key>
			<string>1</string>
			<key>format</key>
			<integer>4</integer>
			<key>imageTint</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQCDgP9APQGG
			</data>
			<key>name</key>
			<string>圧縮して DVD (7z) 向けに分割</string>
			<key>password</key>
			<string></string>
			<key>shortName</key>
			<string>DVD 向けに分割</string>
			<key>volumeSize</key>
			<string>4695</string>
			<key>volumeUnit</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>compression</key>
			<integer>2</integer>
			<key>contentsOnly</key>
			<true/>
			<key>encryption</key>
			<integer>0</integer>
			<key>favorite</key>
			<true/>
			<key>folder</key>
			<string>1</string>
			<key>format</key>
			<integer>0</integer>
			<key>imageTint</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg+w9/j6DIgEkPoNEoz0/AYY=
			</data>
			<key>individual</key>
			<true/>
			<key>name</key>
			<string>個々にコンテンツを Zip 圧縮</string>
			<key>password</key>
			<string></string>
			<key>shortName</key>
			<string>Zip ind.</string>
			<key>volumeUnit</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>MIBServicePresetExtract</key>
	<integer>0</integer>
	<key>MIBServicePresetSave</key>
	<integer>0</integer>
	<key>MIBShouldTerminateAfterLastWindowClosed2</key>
	<false/>
	<key>MIBShowHiddenItems</key>
	<false/>
	<key>MIBStartWithEmptyDocument</key>
	<true/>
	<key>MIBSuggestPasswords</key>
	<true/>
	<key>MIBTempFolderName</key>
	<string>BetterZip 一時フォルダ</string>
	<key>MIBUseHardLinks</key>
	<true/>
	<key>MIBViewMode</key>
	<integer>2</integer>
	<key>MIBViewingApplication</key>
	<string>Finder</string>
	<key>MIBWarnCleanPatterns</key>
	<false/>
	<key>MIBWarnSave</key>
	<false/>
	<key>MIBZoom</key>
	<integer>0</integer>
	<key>cutoffCount</key>
	<integer>10000</integer>
</dict>
</plist>
